#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  padding-top: 35px;
}

#container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 1px solid rgb(0, 0, 0);
  min-width: 60px;
  min-height: 60px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard-container {
  padding-top: 60px;
  height: 200px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 4px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 50px;
  width: 40px;
  cursor: pointer;
  background-color: gray;
  border-radius: 5px;
  flex-grow: 1;
  color: white;
  text-transform: uppercase;
  margin-right: 6px;
  user-select: none;
}

.wide-button {
  min-width: 60px;
}

.isCorrectKey {
  background-color: green;
}
