{% extends "base.html" %}

{% block main %}
<div class="container mt-4">
    <div class="container header">
        <blockquote class="blockquote text-center">
            <p class="fs-3 mb-3">Esiet sveicināti 'Worlde' darinajumā - Burtnieks</p>
            <footer class="blockquote-footer">Mārcis, Rainers, Reinis, Gunārs, Maikls <cite title="Source Title">DP4-2 grupa</cite></footer>
          </blockquote>
    </div>
    <hr>
    <div class="container main">
        <h3 class="text-center mb-4">Reģistrējies vai ielogojies jau esošā profilā, lai burtotu!</h3>
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-outline-secondary" href="auth/register" role="button">Pievienoties</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-secondary" href="auth/login" role="button">Ielogoties</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
