{% extends "base.html" %}

{% block main %}
{% include "shared/tutorial.html" %}
<div id="container">
  <div id="game">
    <div id="board-container">
      <div id="board">
      </div>
    </div>
    
    <div id="keyboard-container">
      <div class="keyboard-row">
        <button class="Ā" data-key="Ā">Ā</button>
        <button class="E" data-key="E">E</button>
        <button class="Ē" data-key="Ē">Ē</button>
        <button class="R" data-key="R">R</button>
        <button class="T" data-key="T">T</button>
        <button class="U" data-key="U">U</button>
        <button class="Ū" data-key="Ū">Ū</button>
        <button class="I" data-key="I">I</button>
        <button class="Ī" data-key="Ī">Ī</button>
        <button class="O" data-key="O">O</button>
        <button class="P" data-key="P">P</button>
        <button class="Ļ" data-key="Ļ">Ļ</button>
        <!-- <div class="space"></div> -->
      </div>
  
      <div class="keyboard-row">
        <button class="A" data-key="A">A</button>
        <button class="S" data-key="S">S</button>
        <button class="Š" data-key="Š">Š</button>
        <button class="D" data-key="D">D</button>
        <button class="F" data-key="F">F</button>
        <button class="G" data-key="G">G</button>
        <button class="Ģ" data-key="Ģ">Ģ</button>
        <button class="H" data-key="H">H</button>
        <button class="J" data-key="J">J</button>
        <button class="K" data-key="K">K</button>
        <button class="Ķ" data-key="Ķ">Ķ</button>
        <button class="L" data-key="L">L</button>
        <!-- <div class="space"></div> -->
      </div>

      <div class="keyboard-row">
        <button data-key="enter" class="wide-button">ENTER</button>
        <button class="Z" data-key="Z">Z</button>
        <button class="Ž" data-key="Ž">Ž</button>
        <button class="C" data-key="C">C</button>
        <button class="Č" data-key="Č">Č</button>
        <button class="V" data-key="V">V</button>
        <button class="B" data-key="B">B</button>
        <button class="N" data-key="N">N</button>
        <button class="Ņ" data-key="Ņ">Ņ</button>
        <button class="M" data-key="M">M</button>
        <button data-key="delete" class="wide-button">DELETE</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}