{% extends "base.html" %}

{% block main %}


<div class="guess-grid mt-5">
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
  <div class="tile"></div>
</div>


<div data-keyboard class="keyboard">
  <button class="key" data-key="Ā">Ā</button>
  <button class="key" data-key="E">E</button>
  <button class="key" data-key="Ē">Ē</button>
  <button class="key" data-key="R">R</button>
  <button class="key" data-key="T">T</button>
  <button class="key" data-key="U">U</button>
  <button class="key" data-key="Ū">Ū</button>
  <button class="key" data-key="I">I</button>
  <button class="key" data-key="Ī">Ī</button>
  <button class="key" data-key="O">O</button>
  <button class="key" data-key="P">P</button>
  <button class="key" data-key="Ļ">Ļ</button>
  <div class="space"></div>
  <button class="key" data-key="A">A</button>
  <button class="key" data-key="S">S</button>
  <button class="key" data-key="Š">Š</button>
  <button class="key" data-key="D">D</button>
  <button class="key" data-key="F">F</button>
  <button class="key" data-key="G">G</button>
  <button class="key" data-key="Ģ">Ģ</button>
  <button class="key" data-key="H">H</button>
  <button class="key" data-key="J">J</button>
  <button class="key" data-key="K">K</button>
  <button class="key" data-key="Ķ">Ķ</button>
  <button class="key" data-key="L">L</button>
  <div class="space"></div>
  <button data-enter class="key large">ENTER</button>
  <button class="key" data-key="Z">Z</button>
  <button class="key" data-key="Ž">Ž</button>
  <button class="key" data-key="C">C</button>
  <button class="key" data-key="Č">Č</button>
  <button class="key" data-key="V">V</button>
  <button class="key" data-key="B">B</button>
  <button class="key" data-key="N">N</button>
  <button class="key" data-key="Ņ">Ņ</button>
  <button class="key" data-key="M">M</button>
  <button data-delete class="key large">DELETE</button>
</div>

{% endblock %}
