{% extends "base.html" %}


{% block main %}
  <div class="container">
    <div class="row mt-4 d-flex justify-content-center">
      <div class="col-md-6">
        <form method="post">
          {{ form.csrf_token() }}

          <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Izveido profilu un pievienojies!</h1>
          </div>

          {% include "shared/flash.html" %}

          <div class="form-label-group mb-4">
            <input name="name" type="text" id="inputName" class="form-control" placeholder="Lietājvārds" required autofocus>
          </div>

          <div class="form-label-group mb-4">
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="E-pasta adrese" required>
          </div>

          <div class="form-label-group mb-4">
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Parole" required>
          </div>

          <div class="form-label-group mb-4">
            <input name="confirm_password" type="password" id="inputConfirmPassword" class="form-control" placeholder="Apstipriniet paroli" required>
          </div>

          <button class="btn btn-lg btn-outline-secondary btn-block" type="submit">Pievienoties</button>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
