  <!-- Modal -->
  <div class="modal fade modal-dialog-centered" id="myModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1> tu uzvareji ig </h1>
        </div>
      </div>
    </div>
  </div>

<script>

const myModal = new bootstrap.Modal('#myModal', {
  keyboard: false
})

const modalToggle = document.getElementById('myModal'); 
myModal.show(modalToggle)

</script>
